<!DOCTYPE html>
<html>
    <head>
        <title>Order Up: About</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
        <script src="/javascripts/main.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="banner">
            <h1>Second Course</h1>
            <h3 id="backHome">Back Home</h3>
        </div>
    </body>
</html>