<!DOCTYPE html>
<html>
    <head>
        <title>Second Course: Login</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/routes/home.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Home</h1>
    </body>
</html>