<!DOCTYPE html>
<html>
    <head>
        <title>Second Course: Home</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/routes/home.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="banner">
            <h1>Second Course</h1>
            <div class="welcomeUser">
                <h3>Welcome <b></b></h3>
            </div>
        </div>
    </body>
</html>